.App {
  text-align: center;
}

button {
  font-size: calc(10px + 2vmin);
}

ul {
  list-style: none;
  padding: 0;
}

.zoo-address {
  color: rgb(255, 145, 0);
  font-weight: bold;
}

.zoo-name {
  font-family: monospace;
}

.list-header {
  font-weight: bold;
}